.courses{
    padding: 15px 20px;
    box-sizing: border-box;
    border-radius: 10px;
    border: 1px solid rgb(203, 203, 203);
    margin: 20px;
    .courses-header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        .course-title{
            color: #242424;
            font-weight: 600;
            font-size: 20px;
        }
        .add-bt{
            display: flex;
            align-items: center;
            background: #23A4D8;
            border: none;
            color: white;
            font-weight: bold;
            padding: 10px 20px;
            border-radius: 10px;
            #bt-icon{
                margin-right: 5px;
            }
            &:hover{
                cursor: pointer;
            }
        }
    }
    .courses-info{
        display: flex;
        // justify-content: center;
        flex-wrap: wrap;
        height: fit-content;
        max-height: 85vh;
        overflow: auto;
    }
}