.update-profile{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    padding-top: 50px;
    display: flex;
    justify-content: center;
    background-color: rgba(0,0,0,0.7);
    align-content: center;
    .update-profile-container{
        width: 30%;
        height: fit-content;
        border-radius: 20px;
        background-color: white;
        text-align: left;
        padding: 20px 25px;
        box-sizing: border-box;
        .profile-head{
            border-bottom: 1px solid rgb(218, 218, 218);
            padding-bottom: 10px;
            margin-bottom: 15px;
            .p-update-title{
                color: #242424;
                font-weight: 600;
            }
        }
        .profile-up-form{
            display: flex;
            flex-direction: column;
            #lables{
                margin-bottom: 5px;
                margin-top: 15px;
            }
            .name-error,.email-error,.mobile-error,.city-error{
                color: red;
                font-weight: 600;
                font-style: italic;
                font-size: 14px;
                margin-top: 5px;
                display: none;
            }
                .update-p-field-n,.update-p-field-c,.update-p-field-m,.update-p-field-mail{
                    border: 1px solid rgb(181, 181, 181);
                    outline: none;
                    padding: 7px;
                    border-radius: 8px;
                }
                .update-p-footer{
                    text-align: right;
                    margin-top: 10px;
                    border-top: 1px solid rgb(218, 218, 218);
                    padding-top: 20px;
                    button{
                        margin: 0 5px;
                        padding: 5px 10px;
                        border-radius: 8px;
                        font-weight: bold;
                        &:hover{
                            cursor: pointer;
                        }
                    }
                    .p-cancel-bt{
                        border: 2px solid #23A4D8;
                        background-color: white;
                        color: #23A4D8;
                        &:hover{
                            cursor: pointer;
                            border: 2px solid red;
                            background-color: red;
                            color: white;
                            transition: 0.6s;
                        }
                    }
                    .p-submit-bt{
                        border: 2px solid #23A4D8;
                        background-color: #23A4D8;
                        color: white;
                        &:hover{
                            cursor: pointer;
                            border: 2px solid #23A4D8;
                            background-color: white;
                            color: #23A4D8;
                            transition: 0.6s;
                        }
                    }
                }
        }
    }
}
// .update-p-field-n:invalid[focused="true] ~ .error{
//     display:block;
// }
.update-p-field-n:invalid[focused="true"] ~ .name-error{
    display: block;
}
.update-p-field-mail:invalid[focused="true"] ~ .email-error{
    display: block;
}
.update-p-field-m:invalid[focused="true"] ~ .mobile-error{
    display: block;
}
.update-p-field-c:invalid[focused="true"] ~ .city-error{
    display: block;
}
@media screen and(max-width:1150px) {
    .update-profile{
            .update-profile-container{
                width: 60vw;
            }
    }
}  
@media screen and(max-width:500px) {
    .update-profile{
            .update-profile-container{
                width: 95%;
            }
    }
}  