.footer-div{
        .footer-text{
            width: 133px;
            height: 16px;
            left: 312px;
            top: 984px;
            font-weight: 600;
            font-size: 12px;
        }
}