.dummy-page{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0 30px;
    box-sizing: border-box;
    .container{
        margin-top: 40px;
        padding-bottom: 25px;
        .head-home{
            font-size: 45px;
        }
        .rules{
            margin-top: 20px;
            text-align: left;
        }
        .rules-1{
            text-align: left;
            #arrow-icon-m{
                margin: 0 10px;
                margin-top: 5px;
                color: orange;
                font-size: 25px;
                transform: rotate(-45deg)
            }
            #span-bold{
                font-weight: bold;
            }
        }
    }
    .dummy-text{
        font-size: 6em;
        color: #2CA4D8;
    }
}
@media screen and (max-width:1000px) {
    .dummy-page{
        .dummy-text{
            font-size: 20px;
        }
    }
}