.course-card{
    background-color: rgb(239, 239, 239);
    margin: 10px;
    width: 450px;
    border-radius: 5px;
    padding: 15px;
    box-sizing: border-box;
    height: fit-content;
    .course-header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: left;
        padding-bottom: 10px;
        border-bottom: 1px solid rgb(208, 208, 208);
        .course-name{   
                text-transform: capitalize;
        }
        .create-date{
            user-select: none;
            font-size: 14px;
            color: rgb(177, 177, 177);
        }
    }
    .course-info{
        text-align: left;
        padding: 15px 0;
        .center{
            display: flex;
            justify-content: space-between;
            .left{
                .course-creater{
                    color: black;
                    font-weight: 500;
                    margin-bottom: 10px;
                    span{
                        font-weight: bold;
                    }
                }
            }
            .right{
                position: relative;
                #trach-icon{
                    position: absolute;
                    bottom: 0;
                    right: 10px;
                    &:hover{
                        cursor: pointer;
                        color: red;
                        transition: 0.6s;
                    }
                }
            }
        }
            .course-footer{
                margin-top: 15px;
                display: flex;
                justify-content: space-between;
                font-size: 15px;
                .c-start{
                    color: rgb(0, 168, 234);
                    font-weight: bold;
                }
                .c-end{
                    color: red;
                    font-weight: bold;
                }
            }
    }
    &:hover{
        cursor: pointer;
        transition: 0.6s;
        box-shadow: 1px 1px 10px 1px rgb(193, 193, 193);
    }
}