.profile{
    padding: 15px 20px;
    box-sizing: border-box;
    margin: 20px;
    height: 90vh;
    border-radius: 10px;
    border: 1px solid rgb(203, 203, 203);
    .profile-header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        .user-name{
            font-size: 20px;
            color: #242424;
            font-weight: 600;
        }
        .add-bt{
            display: flex;
            align-items: center;
            background: #23A4D8;
            border: none;
            color: white;
            font-weight: bold;
            padding: 10px 20px;
            border-radius: 10px;
            #bt-icon{
                // font-size: large;
                margin-right: 5px;
            }
            &:hover{
                cursor: pointer;
            }
        }
    }
    .profile-info{
        margin-top: 65px;
        .profile-row{
            display: flex;
            margin: 20px 0;
            #fName{
                margin-left: 15px;
                text-transform: capitalize;
            }
            #fEmail{
                margin-left: 15px;
            }
        }
        .rules{
            text-align: left;
            margin-top: 40px;
            li{
                margin-left: 15px;
                color: rgb(180, 180, 180);
                line-height: 25px;
            }
        }
    }
}