*{
  margin: 0;
  padding: 0;
}
.App {
  text-align: center;
  display: flex;
font-family: 'Montserrat', sans-serif;
color:#7F878A;
font-weight: 600;
}
.App .sidebar-app{
    flex: 1;
    height: 100vh;
}
.App .home-app{
  flex: 4.5;
}
.App .bars-icon-s{
  position: fixed;
  top: 10%;
  left: 8%;
}
.App .bars-icon-s #arrow{
  font-size: 50px;
  transform: rotate(-45deg)
}
.App .bars-icon-s #arrow:hover{
  cursor: pointer;
  color: goldenrod;
  transition: 0.6s;
}