.add-course{
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 5000;
    top: 0;
    left: 0;
    padding-top: 50px;
    display: flex;
    justify-content: center;
    background-color: rgba(0,0,0,0.7);
    align-content: center;
    .add-course-container{
                width: 30%;
                height: fit-content;
                border-radius: 20px;
                background-color: white;
                text-align: left;
                padding: 20px 25px;
                box-sizing: border-box;
                .courses-head{
                    border-bottom: 1px solid rgb(218, 218, 218);
                    padding-bottom: 10px;
                    .courses-title{
                        color: #242424;
                        font-weight: 600;

                    }
                }
                .course-form{
                    display: flex;
                    flex-direction: column;
                    .error-name,.error-des,.error-cf,.error-cs,.error-ce{
                        color: red;
                        font-weight: 500;
                        font-style: italic;
                        font-size: 14px;
                        margin-top: 5px;
                        display: none;
                    }
                    #course-lable{
                        margin-bottom: 5px;
                        margin-top: 15px;

                    }
                    #course-fields,#course-fields-d,#course-fields-n,#course-fields-s,#course-fields-e{
                        border: 1px solid rgb(181, 181, 181);
                        outline: none;
                        padding: 7px;
                        border-radius: 8px;
                    }
                }
                .course-footer{
                    text-align: right;
                    margin-top: 10px;
                    border-top: 1px solid rgb(218, 218, 218);
                    padding-top: 20px;
                    button{
                        margin: 0 5px;
                        padding: 5px 10px;
                        border-radius: 8px;
                        font-weight: bold;
                        &:hover{
                            cursor: pointer;
                        }
                    }
                    .p-cancel-bt{
                        border: 2px solid #23A4D8;
                        background-color: white;
                        color: #23A4D8;
                        &:hover{
                            cursor: pointer;
                            border: 2px solid red;
                            background-color: red;
                            color: white;
                            transition: 0.6s;
                        }
                    }
                    .p-submit-bt{
                        border: 2px solid #23A4D8;
                        background-color: #23A4D8;
                        color: white;
                        &:hover{
                            cursor: pointer;
                            border: 2px solid #23A4D8;
                            background-color: white;
                            color: #23A4D8;
                            transition: 0.6s;
                        }
                    }
                }
    }
}
#course-fields-d:invalid[focused="true"] ~ .error-des{
    display: block;
}
#course-fields:invalid[focused="true"] ~ .error-name{
    display: block;
}
#course-fields-n:invalid[focused="true"] ~ .error-cf{
    display: block;
}
#course-fields-s:invalid[focused="true"] ~ .error-cs{
    display: block;
}
#course-fields-e:invalid[focused="true"] ~ .error-ce{
    display: block;
}
@media screen and(max-width:1150px) {
    .add-course{
            .add-course-container{
                width: 60vw;
            }
    }
}  
@media screen and(max-width:500px) {
    .add-course{
            .add-course-container{
                width: 95%;
            }
    }
}  