.add-students-div{
    position: fixed;
    background-color: rgba(32, 32, 32, 0.7);
    top: 0;
    left: 0;
    padding-top: 50px;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
        .add-student-container{
                width: 30%;
                height: fit-content;
                border-radius: 20px;
                background-color: white;
                text-align: left;
                padding: 20px 25px;
                box-sizing: border-box;
                .heading-div{
                    border-bottom: 1px solid rgb(218, 218, 218);
                    padding-bottom: 10px;
                    .add-heading{
                        color: #242424;
                        font-weight: 600;
                    }
                }
                    .add-student-form{
                        display: flex;
                        flex-direction: column;
                            label{
                                text-align: left;
                                color: gray;
                                margin: 10px 0;
                                margin-top: 20px;
                                font-weight: 500;
                                letter-spacing: 0.5px;
                            }
                            .input-field-add, .input-field-cls-add, .input-field-sco-add{
                                    border: 1px solid rgb(181, 181, 181);
                                    outline: none;
                                    padding: 7px;
                                    border-radius: 8px;
                            }
                            .error, .error-class, .error-score{
                                display: none;
                                font-weight: 500;
                                font-style: italic;
                                margin: 0;
                                padding: 0;
                                color: red;
                            }
                            .default-text{
                                font-weight: 500;
                                font-style: italic;
                                color: gray;
                            }
                            .result-status{
                                color: white;
                                font-weight: bold;
                                border-radius: 25px;
                                width: fit-content;
                                padding: 2px 10px;
                                &:hover{
                                    cursor: pointer;
                                }
                            }
                            .empty-dash{
                                font-size: 17px;
                                font-weight: 500;
                                color:gray;
                            }
                            #pass{
                                background: rgb(1, 186, 1);
                            }
                            #failed{
                                background: red;
                            }
                            #por{
                                color: red;
                            }
                            #avg{
                                color: #23A4D8;
                            }
                            #exc{
                                color: rgb(1, 186, 1);
                            }
                            .grade-text{
                                font-weight: bold;
                                &:hover{
                                    cursor: pointer;
                                }
                            }
                            .form-footer{
                                text-align: right;
                                border-top: 1px solid rgb(218, 218, 218);
                                margin-top: 20px;
                                padding-top: 20px;
                                button{
                                    margin: 0 5px;
                                    padding: 5px 10px;
                                    border-radius: 8px;
                                    font-weight: bold;
                                    &:hover{
                                        cursor: pointer;
                                    }
                                }
                                .cancel-bt{
                                    border: 2px solid #23A4D8;
                                    background-color: white;
                                    color: #23A4D8;
                                    &:hover{
                                        cursor: pointer;
                                        border: 2px solid red;
                                        background-color: red;
                                        color: white;
                                        transition: 0.6s;
                                    }
                                }
                                .submit-bt{
                                    border: 2px solid #23A4D8;
                                    background-color: #23A4D8;
                                    color: white;
                                    &:hover{
                                        cursor: pointer;
                                        border: 2px solid #23A4D8;
                                        background-color: white;
                                        color: #23A4D8;
                                        transition: 0.6s;
                                    }
                                }
                    }
                }
        }
    }
.input-field-add:invalid[focused="true"]{
    border: none;
}
.input-field-add:invalid[focused="true"] ~ .error{
    display: block;
}
.input-field-cls-add:invalid[focused="true"] ~ .error-class{
    display: block;
}
.input-field-sco-add:invalid[focused="true"] ~ .error-score{
    display: block;
}
@media screen and(max-width:1150px) {
    .add-students-div{
            .add-student-container{
                width: 60vw;
            }
    }
}  
@media screen and(max-width:500px) {
    .add-students-div{
            .add-student-container{
                width: 95%;
            }
    }
}  